[Unit]
Description=ABLS Agent Meteo (%i)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/abls-agent-meteo --agent-tech-id=%i
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target